.dictionarySection {
  height: 100%;
}
.heading {
  text-align: center;
  margin: auto;
}
.word {
  width: 100%;
  text-align: center;
  position: sticky;
  background-color: lightseagreen;
  color: whitesmoke;
  top: 0px;
  padding: 5px;
}
.meaningBlock {
  border: 1px solid lightgray;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 50px;
}
.meaningsDisplay {
  max-height: 75%;
  width: 90%;
  margin: auto;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 0 10px 0 10px;
  overflow-y: scroll;
}
.formControl {
  margin: 10px;
  min-width: 120;
}
.selectEmpty {
  margin-top: 10px;
}
